body {
    background-color: #ccc;
    font-family: Georgia, serif;
    font-size: 1.25rem;
    padding: 20px;
    margin: auto;
}

.row {
    margin: 1rem 5rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: auto;
    align-content: flex-start
}